/* Import Tailwind CSS */
@import "tailwindcss";

/* Define Proxima Nova font faces */
@font-face {
  font-family: "Proxima Nova";
  src: url("/font/proximanova_regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/font/proximanova_light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/font/proximanova_extrabold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/font/proximanova_boldit.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/font/proximanova_bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/font/proximanova_blackit.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/font/proximanova_black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/font/proximanova_black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

/* Reusable class to apply Proxima Nova font */
.proxima-nova {
  font-family: "Proxima Nova", sans-serif;
}
/* App.css or your custom CSS file */
.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
body[dir="rtl"] {
  font-family: "Cairo", sans-serif;
}
